<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <link rel=”icon" href="https://whatemoji.org/wp-content/uploads/2020/07/Popcorn-Emoji.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="footer">
    <span>This was made with ❤️ at Le Wagon Dubai</span>
    </div>
  </body>
</html>
